<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="SqlString" connectionString="Data Source=.;Initial Catalog=phrasehtml;Persist Security Info=True;User ID=sa;Password=Ocun0110;Pooling=true;Max Pool Size=512;Min Pool Size=0;Connection Lifetime=300;packet size=8192"/>
    <add name="phrasehtmlEntities" connectionString="metadata=res://*/Entity.FilePath.csdl|res://*/Entity.FilePath.ssdl|res://*/Entity.FilePath.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chun;initial catalog=phrasehtml;persist security info=True;user id=sa;password=Ocun0110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="BasicUrl" value="http://k6.csnjcbnxdnb.rocks"/>
    <add key="SavePath" value="P:\picture\"/>
    <!-- 创建根目录数量 -->
    <add key="MaxCreateDirPath" value="150"/>
    <!-- 设置读取根目录的数量 -->
    <add key="MaxDirPath" value="20"/>
    <add key="MinDirPath" value="1"/>
    <add key="FilePathId" value="12"/>
    <add key="Gridview" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
