<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="phrasehtmlEntities" connectionString="metadata=res://*/Entity.FilePath.csdl|res://*/Entity.FilePath.ssdl|res://*/Entity.FilePath.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHUN;initial catalog=phrasehtml;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>